@media only screen and (min-width : 1025px) and (max-width: 1296px) {
	body {
		height: 730px;
	}
	.left {
		height: 610px;
	}
	.center {
		height: 610px;
	}
	.right {
		height: 610px;
	}
}

@media only screen and (min-width : 980px) and (max-width: 1024px) {
	body {
		height: 790px;
	}
	.left {
		height: 690px;
	}
	.center {
		height: 690px;
	}
	.right {
		height: 690px;
	}
}

@media only screen and (min-width : 641px) and (max-width: 768px) {
	body {
		height: 1024px;
	}
	.left {
		height: 780px;
		width: 19%;
	}
	.center {
		height: 860px;
		font-size: 19px
	}
	.center a:hover {
		font-size: 19px;
	}
	.right {
		height: 780px;
		width: 19%;
	}
	.image {
		width: 300px;
		height: 230px;
	}
}
