/* Large desktop screens */
@media only screen and (max-width: 1680px) {
  .center {
    background-color: ;
  }
}

/* Small desktop screens */
@media only screen and (max-width: 800px) {
  .center {
    background-color: blue;
  }
}

/* Tablet screens */
@media only screen and (max-width: 800px) {
  .center {
    background-color: blue;
  }
}

/* Small phone screens */
@media only screen and (max-width: 480px) {
  .center {
    background-color: pink;
  }
}

