* {
	margin: 0;
	padding: 0;
}

/* Grabs the body element */
body {
	/* Declaration */
	background-image: url(../images/orange3.jpg);
	background-repeat: no-repeat;
  background-size: cover;
  /* Property: Value; */
}

.heading {
	color: #512011;
	text-align: center;
	background-color: #FEBF58;
	margin:0 auto;
	height: 60px;
	width: 80%;
	font-family: 'Kalam', cursive;
	font-size: 24px;
	border-radius: 5px;
	border: 2px solid #512011;
	margin-top: 10px;
}

#container {
	color: #512011;
  width:100%;
  text-align:center;
  
  margin-top: 20px;
  height: 600px;
}

.left {
	color: white;
  float:left;
  width: 17%;
  background-color: #512011;
  height: 590px;
  font-family: 'Kalam', cursive;
  font-size: 15px;
  margin-left: 10px;
  border-radius: 5px;
}

/* Grabs all h1 elements that are nested inside the .left class */
.left h1 {
	font-size: 30px;
}

li {
	margin-top: 18px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	font-size: 17px;
	color: #FEBF58;
	text-decoration: underline;
}

.material-icons {
	margin-right: 5px;
}

.center {
	color: #512011;
  display: inline-block;
  margin:0 auto;
  width: 50%;
  background-color: #FEBF58;
  height: 590px;
  font-family: 'Kalam', cursive;
  font-size: 17px;
  border-radius: 5px;
  border: 2px solid #512011;
}

/* Targets any p elements that are children of the .center class */
.center>p {
	margin: 0 10px 0 10px;
}

/* Grabs the a element within the .center div */
.center a:hover {
	color: #512011;
	text-decoration: underline;
}

.image {
	width: 440px !important;
	height: 300px;
	margin-top: 20px;
	border: 2px solid #512011;
	border-radius: 5px;
}

.right {
	color: white;
  float:right;
  width: 17%;
  background-color: #512011;
  height: 590px;
  font-family: 'Kalam', cursive;
  font-size: 15px;
  margin-right: 10px;
  border-radius: 5px;
}

/* Grabs all h1 elements that are nested inside the .right class */
.right h1 {
	font-size: 30px;
}

.songList {
  list-style:none;
  padding-left:0;
}​


